game = cod4

bot = ^5T^6bone:^7
command = !

rcon_host = 192.168.1.10
rcon_port = 28961
rcon_password = DFXFmpLC

log_games_mp = C:\Program Files (x86)\Steam\steamapps\common\Call of Duty 4\main\games_mp.log